<h1>Ben's Pizza</h1>

<div id="menu">
  <h2>Menu</h2>
  <table id="menuTable">
    <tr>
      <th>Item</th>
      <th>Category</th>
      <th>Price</th>
      <th>Vegetarian?</th>
    </tr>
    @for(m of menu; track $index)
    {
      <tr [class.soldOut]="m.soldOut">
        <td>{{m.name}} @if(m.soldOut){(sold out)}</td>
        <td>{{m.category}}</td>
        <td>{{m.price | currency}}</td>
        <td>@if(m.vegetarian){vegetarian}</td>
        <td><button type="button" [disabled]="m.soldOut" (click)="addToCart(m)">Add To Order</button></td>
      </tr>
    }
  </table>
  <ul id="cart">
    @if(cart.length > 0){
      @for(c of cart; track $index)
      {
      <li>{{c.name}}: {{c.price | currency}}</li>
      }
      <li id="total">Total: {{getTotal() | currency}}</li>
    }
  </ul>
  <button type="button" id="reset" (click)="resetOrder()">Reset Order</button>
</div>